<a href="https://colab.research.google.com/github/amitpathakjec/Machine-Learning/blob/master/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Functions in Python**

*   Why Functions
*   Function Definition
*   Positional and Keyword Arguments in Functions

In [1]:
num = 24
if num%2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Number is even

In [0]:
def even_odd(num):
  if num%2 == 0:
    print("The  number is even ")
  else:
    print("The number is odd ")

In [3]:
even_odd(13)

The number is odd

In [0]:
# print VS return
def hello_world():
  return "Hello Welcome"

In [0]:
val = hello_world()

In [20]:
print(val)

Hello Welcome

In [0]:
def add_num(num1,num2):
  return num1+num2

In [0]:
val = add_num(24,48)

In [24]:
val

72

In [0]:
# Positional argument: value not assigned
# keyword argument: value already assigned.
def hello(name, age = 20):                         
  print("My name is {} and age is  {} ".format(name,age))

In [6]:
hello("Amit")

My name is Amit and age is  20

In [0]:
# hello()

In [0]:
def function(*args,**kwargs):
  print(args)
  print(kwargs)

In [9]:
function("Amit","Pathak",age=20,location="Katni")

('Amit', 'Pathak')
{'age': 20, 'location': 'Katni'}

In [0]:
list_1 = [1,2,3,4,5,6,7]

In [16]:
def EvenOddSum(list):
  even_sum = 0
  odd_sum = 0
  for i in list_1:
    if i % 2 == 0:
      even_sum = even_sum + i
    else:
      odd_sum = odd_sum + i  
  return even_sum, odd_sum

  
EvenOddSum(list_1)

(12, 16)

### **Lambda function**   
(anonymous function)

A function with no name is known as

```
# This is formatted as code
```

 lambda function.

In [0]:
# normal function
def addition(a,b):
  return a+b

In [20]:
addition(4,5)

9

In [0]:
#  lambda function
addition = lambda a,b:a+b

In [24]:
addition(4,5)

9

In [0]:
def even(num):
  if num%2 == 0:
    return True

In [29]:
even(90)

True

In [0]:
even_1 = lambda a: a%2==0

In [32]:
even_1(12)

True

In [0]:
def addition_1(x,y,z):
  return x+y+z

In [34]:
addition_1(1,2,3)

6

In [0]:
add = lambda a,b,c : a+b+c

In [36]:
add(5,5,5)

15

### **Map function**

In [0]:
def even_odd(num):
  if num%2 == 0:
    return "Even"
  else:
    return "Odd"

In [38]:
even_odd(45)

'Odd'

In [0]:
listt = [1,2,3,4,5,6,7,8,9,24,56,78]
# one way to check even odd in list is through looping

In [44]:
# Using map  funtion
# map(function,list)
list(map(even_odd,listt))

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Even',
 'Even']

### **Filters function**

In [0]:
def even(num):
  if num%2 == 0:
    return True

In [46]:
even(80)

True

In [48]:
# Using filter function
list(filter(even,listt))

[2, 4, 6, 8, 24, 56, 78]

In [51]:
list(filter(lambda num: num%2==0,listt))   #we can say filter funtion filters out true conditions

[2, 4, 6, 8, 24, 56, 78]

In [52]:
list(map(lambda num: num%2==0,listt))      #we can say  map function maps to every single object

[False, True, False, True, False, True, False, True, False, True, True, True]